/* ingredients.css */

/* Top navbar */
.navbar {
  background-color: #cce5cc;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #ccc; /* Separator under navbar */
}

/* Moved a ton of the styling in here over to ingredient page.tsx as it was easier that way */